.box {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: rgb(60, 12, 156);
  background-color: rgba(255, 127, 80, 0.74);
  border: 2px solid rgb(60, 12, 156);
  font-size: 20px;
  margin: 10px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
}

#create {
  width: 100px;
  height: 35px;
  font-size: 1rem;
  margin: 10px;
  border-radius: 3px;
  background-color: rgba(60, 12, 156, 0.233);
}

#create:hover {
  box-shadow: 1px 1px 4px lightgray;
  background-color: rgba(60, 12, 156, 0.438);
}
