:root {
  --cherrywood: rgb(105, 27, 9);
  --old-brick: rgba(141, 25, 25, 0.938);
  --peach-yellow: rgb(250, 221, 174);
  --pale-salmon: rgb(241, 184, 150);
  --almond: rgb(240, 222, 195);
  --font-family: "Short Stack", "Nokora", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  color: var(--peach-yellow);
  font-family: var(--font-family);
  background: center / cover no-repeat url(../img/bg.jfif) var(--old-brick);
  background-blend-mode: multiply;
  filter: contrast(110%) saturate(200%);
  animation: text-color 3s ease infinite;
}

@keyframes text-color {
  0%,
  100% {
    color: var(--peach-yellow);
  }

  50% {
    color: var(--pale-salmon);
  }
}

.title {
  font-size: 8rem;
  margin-bottom: 4rem;
}

.remaining-time {
  display: flex;
  justify-content: center;
  text-align: center;
}

.time {
  margin: 0 2rem;
  font-size: 3rem;
}

.time > p:first-child {
  font-size: 8rem;
}

::selection {
  color: var(--cherrywood);
  background-color: var(--almond);
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 4px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 2.9px;
  }
}
