.border-one {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border: 10px solid transparent;
  border-image: url(img/pattern.png) 30% round;
  font: 1.2rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.border-two {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border-radius: 30px;
  border: 30px solid transparent;
  border-image: url(img/brain.svg) 25% round;
  font-family: 1.2rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.border-three {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border-radius: 30px;
  border: 30px solid transparent;
  border-image: linear-gradient(red, blue) 40% round;
  font: 1.2rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
