:root {
  --primary-font-family: "Karla";
  --secondary-font-family: monospace;
  --bg-clr: #f6e6f6;
  --smokey-grey: #706d6d;
  --cotton-seed: #bdbdbd;
  --blossom-pink: #fab9fa;
  --night: #0c0b0b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: 2.6rem var(--secondary-font-family);
  padding: 2rem 2rem 2rem 4rem;
  overflow-x: hidden;
  background-color: var(--bg-clr);
}

.top-text {
  position: fixed;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.bottom-text {
  padding: 100rem 0;
}

.author {
  color: var(--smokey-grey);
  padding-top: 3rem;
  text-align: center;
  margin-right: 18rem;
  font: 300 2.3rem var(--primary-font-family);
}

.info {
  color: var(--cotton-seed);
  letter-spacing: 0.2rem;
  font: 300 1.9rem var(--primary-font-family);
  position: absolute;
  top: 22rem;
  z-index: 100;
}

::selection {
  color: var(--night);
  background-color: var(--blossom-pink);
}

@media screen and (max-width: 1100px) {
  .author {
    text-align: end;
    margin-right: 29rem;
  }
}

@media screen and (max-width: 878px) {
  html {
    font-size: 8px;
  }
  .author {
    margin-right: 28rem;
  }
}

@media screen and (max-width: 650px) {
  .author {
    margin-right: 7rem;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 5.8px;
  }

  body {
    padding: 2rem;
  }
}
