* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo,
.nav__list,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: calc((100% / 12) * 1);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-9 {
  width: calc((100% / 12) * 9);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: calc((100% / 12) * 12);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

.wrapper {
  padding: 4rem 15rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

.nav__item {
  margin-left: 2rem;
}

.nav__item .nav__link {
  font-size: 2rem;
  color: #7d7987;
}

.nav__item .nav__link--active {
  color: #1f1534;
  font-weight: bold;
}

.title {
  font-size: 4rem;
}

.description {
  padding: 2.5rem 0;
  font-size: 2rem;
  color: #7d7987;
}

.logo__caption {
  position: absolute;
  font-size: 2.4rem;
  margin-left: 5rem;
  top: 2.5rem;
  padding: 2rem 0;
}

.logo__img {
  width: 4rem;
  height: 4rem;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  padding-top: 0.4rem;
  position: absolute;
  top: 4rem;
  background-color: #458ff6;
  border-radius: 50%;
}

.dots {
  opacity: 0.5;
  margin-top: 6rem;
  position: absolute;
  left: 0;
}

.hero-section {
  margin-top: 5rem;
}

.hero-section--left {
  padding: 8rem 11rem 8rem 0;
}

.btn {
  height: 4.5rem;
  width: 19rem;
  border-radius: 55px;
  background-color: #458ff6;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (max-width: 1185px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 5px;
  }
  .dots {
    display: none;
  }
}

@media screen and (max-width: 595px) {
  .wrapper {
    padding: 5rem 0;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-section--left {
    text-align: center;
    padding: 4rem 1rem 5rem 1rem;
  }
  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list .nav__item {
    text-align: center;
    margin-left: 5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .nav__list .nav__item .nav__link {
    padding: 0 0.6rem;
  }
  .nav--left {
    display: none;
  }
}
