// colors
$white: white;
$red: red;
$pink: #ffc0cb;
$blue: #006effa8;

// font family
$btn-font-family: sans-serif;

// font weight
$btn-font-weight: 500;

// line height
$btn-line-height: 0.1rem;

// border width
$btn-border-width: 0.3rem;
