/* pagination */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: url(../img/sheep.png) #609d9f;
  background-blend-mode: soft-light;
  overflow: hidden;
  font-family: cursive;
}

.pagination-section {
  margin: 3rem auto;
  text-align: center;
  width: 45rem;
  height: 19rem;
  background-color: #609d9f;
  border: 10px solid transparent;
  border-image: repeating-linear-gradient(40deg, #609d9f, #609d9f, #9cb6a7 28px)
    22;
}

h3 {
  font-size: 3rem;
  padding: 3rem;
  color: #000000c2;
}

.pagination a {
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: #000000e8;
  border: 1px solid #dedede;
  transition: background-color 0.2s;
}

.pagination a:hover:not(.active) {
  background-color: #dedede;
}

.pagination a.active {
  background-color: #2e6366;
  color: #f5f5f5;
  border: 1px solid #2e6366;
}

/* media queries */
@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
