* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(#3fa655, #ebf8e1, #d4f63c);
}

.title {
  text-transform: uppercase;
  position: absolute;
  top: 6rem;
  font: 4rem "Sofia", sans-serif;
  text-shadow: 2px 2px 3px #c9c7c7;
}

.triangle {
  position: relative;
  border-radius: 4px;
  height: 0px;
  width: 0px;
  border: 80px solid transparent;
  border-top-color: #23993c;
  background-color: #10920c;
}

.triangle::after,
.triangle::before {
  content: "";
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 90px solid transparent;
  position: absolute;
  border-top-color: #23993c;
}

.triangle::after {
  background-color: #649213;
  top: -0.9rem;
  left: 2.1rem;
}

.triangle::before {
  background-color: #3b661e;
  right: -1.1rem;
  top: 0.9rem;
  z-index: 1;
}

.round {
  border-radius: 50%;
  background-color: #062c06de;
  width: 0.6rem;
  height: 0.6rem;
  z-index: 10;
  position: relative;
  right: 5.3rem;
  bottom: 0.3rem;
}

.round:after,
.round:before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: inherit;
  background-color: inherit;
  z-index: inherit;
}

.round:before {
  right: 4.5rem;
  top: 6.7rem;
}

.round:after {
  left: 7.8rem;
  top: 4.9rem;
}

::selection {
  color: #ebf8e1;
  background-color: #23993c;
}
