/* Image modal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #afa62685;
  color: #f5f5f5;
}

html {
  font-size: 10px;
}

body {
  background-color: #afa62685;
  overflow: hidden;
}

h3 {
  font: 5rem "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #c9c7c7;
  margin: 2rem 2rem 0;
}

.img {
  margin: 2rem;
  max-width: 300px;
  width: 100%;
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.img:hover {
  opacity: 0.6;
}

.modal {
  position: fixed;
  display: none;
  z-index: 1;
  background-color: #000000b0;
  overflow: hidden;
}

.modal-content {
  margin: 5rem auto auto;
  display: block;
  width: 80vw;
  max-width: 700px;
  animation: move 0.5s;
  overflow: hidden;
  user-select: none;
}

@keyframes move {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 3.5rem;
  font-size: 6rem;
  font-weight: bold;
  transition: 0.3s;
  color: #fffafa;
  user-select: none;
}

.close:hover {
  color: #bababa;
  cursor: pointer;
}

/* media queries */
@media screen and (max-width: 710px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 4.5px;
  }
}

@media screen and (max-width: 250px) {
  html {
    font-size: 2px;
  }
}
