* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(29, 129, 136, 0.11);
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 7px solid rgba(176, 196, 222, 0.479);
  border-top: 7px solid rgba(0, 47, 255, 0.74);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
