body {
  overflow: hidden;
  font-size: 10px;
  background-color: #ffffffc0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h2 {
  text-shadow: 1px 1px 1px #d3d3d3;
  font: 500 3.1em consolas;
  text-transform: uppercase;
  user-select: none;
  color: #000000f8;
  animation: rotateText 5s linear infinite;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  object-fit: cover;
  border-radius: 50%;
  width: 20em;
  height: 20em;
  position: absolute;
  filter: brightness(1) contrast(1.6);
}

@media screen and (max-width: 500px) {
  body {
    font-size: 7px;
  }
}
