:root {
  --black: #000000;
  --icon-clr: #ffc83d;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  padding: 3rem;
  background-color: var(--black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.fa {
  padding: 0 2rem;
  user-select: none;
  font-size: 4rem;
  color: var(--icon-clr);
  border-radius: 50%;
}

#icon-4 {
  width: 7rem;
}
