:root {
  --main-clr: rebeccapurple;
  --main-box-shadow: 0 0 0 0.15rem rgb(135 58 132 / 25%);
}

.btn {
  color: var(--main-clr);
}

.btn:focus {
  box-shadow: none;
  color: var(--main-clr);
}

.btn:hover {
  box-shadow: 1px 1px 1px hsla(0, 0%, 50%, 0.897);
  color: var(--main-clr);
  border-color: var(--main-clr);
}

.btn-dark:active:focus {
  box-shadow: var(--main-box-shadow);
}

#result {
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
}

select {
  outline-color: var(--main-clr);
  color: var(--main-clr);
  height: 28px;
}

input {
  caret-color: var(--main-clr);
}

input:focus {
  outline-color: var(--main-clr);
}

::placeholder {
  color: var(--main-clr);
}

:-ms-input-placeholder {
  color: var(--main-clr);
}

::-ms-input-placeholder {
  color: var(--main-clr);
}

::selection {
  background-color: var(--main-clr);
  color: #fff;
}
