html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
}

.wrapper {
  padding: $padding-4 $padding-15;
  margin: $margin-reset auto;
}

img {
  @include img-responsive;
}

.nav__item {
  margin-left: $margin-2;

  .nav__link {
    font-size: $font-size-md;
    color: $secondary-clr;

    &--active {
      color: $primary-clr;
      font-weight: $font-weight-bold;
    }
  }
}

.title {
  font-size: $font-size-xl;
}

.description {
  padding: $padding-3 $padding-reset;
  font-size: $font-size-md;
  color: $secondary-clr;
}

.logo__caption {
  position: absolute;
  font-size: $font-size-lg;
  margin-left: $margin-5;
  top: $spacing-3/2;
  padding: $padding-2 $padding-reset;
}

.logo__img {
  width: $logo-img-width;
  height: $logo-img-height;
  color: $white-clr;
  font-size: $font-size-lg;
  text-align: center;
  font-weight: $font-weight-bold;
  padding-top: $padding-half;
  position: absolute;
  top: $spacing-3;
  background-color: $btn-clr;
  border-radius: $border-radius-round;
}

.dots {
  opacity: 0.8;
  margin-top: $margin-6;
  position: absolute;
  left: $spacing-reset;
}

.hero-section {
  margin-top: $margin-5;

  &--left {
    padding: $padding-8 $padding-11 $padding-8 $padding-reset;
  }
}

.btn {
  height: $btn-height;
  width: $btn-width;
  border-radius: $border-radius-lg;
  background-color: $btn-clr;
  color: $white-clr;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

// media queries
@media screen and (max-width: 1185px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 5px;
  }

  .dots {
    display: none;
  }
}

@media screen and (max-width: 595px) {
  html {
    font-size: 4px;
  }

  .wrapper {
    padding: $padding-5 $padding-reset;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section--left {
    text-align: center;
    padding: $padding-4 $padding-1 $padding-5 $padding-1;
  }

  .nav__list {
    justify-content: center;

    .nav__item {
      text-align: center;
      margin-left: $margin-5;
      flex-wrap: wrap;
      margin: $margin-reset auto;

      .nav__link {
        padding: $padding-reset $padding-1;
      }
    }
  }

  .nav--left {
    display: none;
  }
}
