* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.square li {
  list-style-image: url(../img/square.gif);
}

.circle ul {
  list-style-image: url(../img/circle.svg);
}

ul li {
  font: italic 800 1.2rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-transform: lowercase;
  text-shadow: 0.1rem 0.1rem 0.1rem gray;
  text-indent: 0.1rem;
}
