ul li::marker {
  color: hsla(0, 100%, 50%, 0.952);
  font: 500 1.3em fantasy;
}

ol li::marker {
  color: hsla(236, 100%, 50%, 0.959);
  font: 600 1.1em "Courier New", Courier, monospace;
}

.heart ul li::marker {
  content: "🧡";
  margin: 5rem;
}

.star ul li::marker {
  content: "⭐";
}
