* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 4rem;
  overflow: hidden;
  font: 2.2rem Karla, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.colors {
  margin: 4rem 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.color {
  cursor: pointer;
  margin: 0 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid black;
  transition: 0.5s ease;
}

.color:hover {
  transform: scale(1.1);
}

.color:active {
  transform: scale(1);
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.desc {
  text-align: center;
}

::selection {
  color: white;
  background-color: black;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 510px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 4px;
  }
}
