:root {
  --font-family: Karla, sans-serif;
  --white: #ffffff;
  --transparent-white: #ffffff00;
  --verdigris: #44bba7;
}

body {
  padding: 2rem;
  overflow: hidden;
  background: linear-gradient(var(--white) 50%, var(--transparent-white) 0) 0 0,
    radial-gradient(
        circle closest-side,
        var(--white) 53%,
        var(--transparent-white) 0
      )
      0 0,
    radial-gradient(
        circle closest-side,
        var(--white) 50%,
        var(--transparent-white) 0
      )
      3rem 0 var(--verdigris);
  background-size: 6rem 7rem;
  background-repeat: repeat-x;
  font: 500 1.1rem var(--font-family) !important;
}

.container {
  min-height: 100vh;
}

input {
  width: 15rem !important;
  text-indent: 0.3rem;
}

label {
  margin-right: 10.8rem !important;
}

label[for="inputKilograms"] {
  margin-right: 9.4rem !important;
}

label[for="inputGrams"] {
  margin-right: 11.2rem !important;
}

::selection {
  color: var(--white);
  background-color: var(--verdigris);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}
