// spacing
$spacing-0: 0px;
$spacing-1: 5px;
$spacing-2: $spacing-1 * 2;
$spacing-3: $spacing-1 * 3;
$spacing-4: $spacing-1 * 4;
$spacing-5: $spacing-1 * 5;
$spacing-7: $spacing-1 * 6;
$spacing-8: $spacing-1 * 7;
$spacing-9: $spacing-1 * 8;

// sizes
$font-size-0: 0px;
$font-size-1: 5px;
$font-size-2: 10px;
$font-size-3: 15px;
$font-size-4: 25px;
$font-size-5: 30px;
$font-size-6: 35px;
$font-size-7: 40px;

// colors
$text-color: #777;
$bg-color: #fff;
$hover-color: #fcb941;

// font-family
$font-family: "Poppins", sans-serif;
