body {
  overflow: hidden;
  font-size: 10px;
  background-color: #bba59329;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  user-select: none;
  margin-bottom: 7.6em;
  font: 100 3.3em "Sofia";
  text-shadow: 1px 1px 1px #8080807e;
}

img {
  width: 26em;
  height: 29em;
  user-select: none;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  border: 1px groove #a62b2b81;
  filter: sepia(60%) contrast(60%) brightness(130%);
}

@media screen and (max-width: 450px) {
  body {
    font-size: 6px;
  }
}
