* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
      90deg,
      transparent 7.9rem,
      #abced4 7.9rem,
      #abced4 8.1rem,
      transparent 8.1rem
    ),
    linear-gradient(#eee 0.1rem, transparent 0.1rem), #fff;
  background-size: 100% 3rem;
  font: 2.5rem "Architects Daughter", cursive;
  color: #2696aa;
}

.reset-btn {
  color: #2696aa;
  user-select: none;
  cursor: pointer;
  margin-top: 4rem;
  padding: 0.7rem 1.7rem;
  box-shadow: inset 0 0 1rem #48bed3a9;
  background-color: #eee;
  font: 2.1rem "Architects Daughter", cursive;
  border: 0.1rem solid #48bed3a9;
  border-radius: 0.2rem;
  -webkit-tap-highlight-color: transparent;
}

.reset-btn:active {
  transform: scale(0.98);
}

.reset-btn:hover {
  background-color: #46b4c770;
  border: 0.1rem solid transparent;
}

.board {
  margin-bottom: 5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  width: 7.6rem;
  height: 7.6rem;
  font: 3.5rem "Architects Daughter", cursive;
  color: #2696aa;
  border-bottom: 0.3rem solid #48bed3;
  border-right: 0.3rem solid #48bed3;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-right: none;
}

.winner {
  text-align: center;
}

::selection {
  color: #ebf8e1;
  background-color: #2696aa;
}

@media screen and (max-width: 520px) {
  html {
    font-size: 9px;
  }

  body {
    background-image: linear-gradient(0.25turn, #3f87a68c, #ebf8e1, #f69c3c77);
  }
}
