/* tooltip */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  background: url(../img/sheep.png) repeat #05531dc0;
  background-blend-mode: soft-light;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: #112d09;
  border-radius: 0.7rem;
  padding: 1rem;
  margin: 10rem 0 0 2rem;
}

a,
.tooltip-text {
  text-decoration: none;
  color: #ff0808;
  font: 4rem cursive;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  background-color: #112d09;
  border-radius: 3rem 3rem 3rem 0;
  padding: 1rem;
  width: 40rem;
  margin-left: 1.1rem;
  bottom: 7.8rem;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 0.9;
}

/* media queries */
@media screen and (max-width: 900px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 540px) {
  html {
    font-size: 4px !important;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 3px !important;
  }
}
