* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  margin: 1rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 0.1rem;
  border: 0.3rem solid transparent;
  padding: 3rem;
  font-size: 1.8rem;
  border-radius: 6rem;
}

.btn:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.btn-pink {
  background-color: #ffc0cb;
  border: 0.3rem solid #006effa8;
}

.btn-pink:hover {
  background-color: #006effa8;
  border: 0.3rem solid #ffc0cb;
}

.btn-blue {
  background-color: #006effa8;
  border: 0.3rem solid #ffc0cb;
  color: white;
}

.btn-blue:hover {
  background-color: #ffc0cb;
  border: 0.3rem solid #006effa8;
}

html {
  font-size: 10px;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.red {
  background-color: red;
}
