* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#heart {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: #ff0000;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(45deg) scale(0, 0);
  }

  to {
    transform: rotate(45deg) scale(1, 1);
  }
}

#heart::before,
#heart::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: absolute;
  background-color: inherit;
}

#heart::before {
  top: -50%;
  left: 0;
}

#heart::after {
  top: 0;
  left: -50%;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
