* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-family: cursive;
  min-width: 280px;
  background-blend-mode: darken;
  background: linear-gradient(90deg, #32557f80 50%, transparent 0),
    linear-gradient(#32557f80 50%, transparent 0) #42beda;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-size: 6px 6px;
  }

  50% {
    background-size: 30px 30px;
  }

  60% {
    background-size: 20px 20px;
  }

  80% {
    background-size: 25px 30px;
  }

  100% {
    background-size: 10px 15px;
  }
}

ul {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-size: 3rem;
  color: #0000e0;
}

.dropdown-a {
  padding: 1rem;
  font-size: 1.9rem;
}

li {
  list-style-type: none;
  padding: 2rem;
}

li:hover,
.dropdown-a:hover {
  transition: 0.4s linear;
  background-color: #0000e033;
}

.navbar {
  background-color: #7fffd4;
  box-shadow: 1px 1px 1px #5abf9d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7fffd4;
  margin-top: 2rem;
  margin-left: -1.9rem;
}

.dropdown:hover .dropdown-content,
.dropdown-a {
  display: block;
}

.dropdown {
  display: relative;
}

/* media queries */
@media screen and (min-width: 470px) and (max-width: 670px) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 340px) and (max-width: 470px) {
  html {
    font-size: 5px;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 4px;
  }
}
