* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  user-select: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsla(133, 72%, 56%, 0.466);
}

button {
  padding: 1.5rem;
  font-size: 3rem;
  border-radius: 5px;
  width: 18rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 0%);
  color: hsl(130, 55%, 25%);
  border: 2px solid transparent;
}

button:hover {
  background-color: hsla(110, 76%, 37%, 0.623);
  color: hsl(0, 0%, 0%);
  border: 2px solid hsl(0, 0%, 0%);
}

button:active {
  transform: scale(0.98);
}
