* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  font-size: 10px;
  background-color: hsl(203, 100%, 6%);
}

.name {
  margin: 0 auto;
  font-size: 17em;
  text-transform: uppercase;
  font-weight: 900;
  background-image: url(img/pexels-photo-3454270.jpeg);
  background-position: 100% 28%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: hsla(187, 36%, 14%, 0.231);
  filter: contrast(113%) brightness(115%)
    drop-shadow(1px 1px 1px hsla(0, 0%, 50%, 0.788));
  font-family: "Major Mono Display", monospace;
}

.name::selection {
  background-color: hsl(194deg 23% 37% / 21%);
}

@media screen and (max-width: 900px) {
  body {
    font-size: 6px;
  }
}

@media screen and (max-width: 580px) {
  body {
    font-size: 3px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 2px;
  }
}
