* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.images {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.images img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: contrast(1.3) brightness(102%) grayscale(200%);
}
