body {
  background-color: $bg-color;
}

p {
  color: $color;
  padding: $padding-auto;
  font-family: $font-family;
  text-shadow: $text-shadow;
}

/* each */
$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
@each $size in $sizes {
  .fontSize-#{$size} {
    font-size: #{$size}px;
  }
}

/* for */
@for $value from 1 through 10 {
  $value: $value * 5;
  .font-size-#{$value} {
    font-size: #{$value}px;
  }
}

/* while */
$n: 10;
$size: 5px;
@while $n>0 {
  $test: $n * 5;
  .fontSize#{$test} {
    font-size: $size * $n;
  }
  $n: $n - 1;
}
