*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #282c34;
  overflow: hidden;
}

::selection {
  color: #fff;
  background-color: #282c34;
}

.btn {
  user-select: none;
}

.btn:hover {
  background-color: #ff0000;
}

input {
  text-indent: 0.3rem;
  caret-color: #282c34;
  color: #282c34;
}

input:focus {
  background-color: #ffe2e2;
}
