*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #282c34;
  overflow: hidden;
}

::selection {
  color: #fff;
  background-color: #282c34;
}

.btn {
  user-select: none;
}

.btn:hover {
  background-color: red;
}
