* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(../img/cloud.jpeg) center/cover no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font: 600 9rem "Roboto Slab", serif;
  color: #213965;
}

.blink {
  color: #213965;
  margin-left: 1rem;
  font-size: 7.9rem;
  font-weight: 400;
  user-select: none;
  animation: blink 0.8s ease infinite;
}

@keyframes blink {
  to {
    opacity: 0.1;
  }
}

::selection {
  background-color: #bb2d45;
  color: #ffe4c4;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }
}
