*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #282c34;
  overflow-x: hidden;
}

::selection {
  color: #ffffff;
  background-color: #007bff;
}

.btn:hover {
  background-color: #1f499e !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: 0 0 0.6rem #282c34b4 !important;
}

.btn-primary:active {
  box-shadow: 0 0 0.6rem #8a96afb7 !important;
}

.btn {
  border: none !important;
  user-select: none;
}

input {
  user-select: none;
}
